body{
    margin: 0;
    padding: 0;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
    background-color: #E5E5E5;
    min-width: 1440px;
}

a{
	text-decoration: none;
	color: #AE7C78;
}

img{
	max-width: 100%;
	height: auto;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.virtually-hidden:not(:focus):not(:active){
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

header{
    margin-top: 26px;
    margin-bottom: 80px;
    border-top: 1px solid #AE7C78;
    border-bottom: 1px solid #AE7C78;
    position: relative;

}

header .site_nav{
    width: 1200px;
    margin: 0 auto;
    
}

header .logo{
    margin-left: -50px;
    position: absolute;
    left: 50%;
    top: 16px;
}

.site_nav ul{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.site_nav ul li{
    margin-right: 101px;
}

.site_nav ul li:nth-of-type(4),
.site_nav ul li:nth-of-type(5),
.site_nav ul li:last-of-type{
    margin-left: 89px;
    margin-right: 0;
}

.site_nav li a{
    margin:0;
    display: block;
    padding: 22px 0;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.site_nav li a:focus, 
.site_nav li a:hover{
    text-decoration: underline;
}

.container{
    width: 1200px;
    margin: 0 auto;    
}

.slider{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 48px;
}

.slider_description{
    flex-basis: 385px;
}

.slider h2{
    margin: 0;
    margin-bottom: 24px;
    font-family: "Playfair Display", Helvetica, sans-serif;
    font-style: normal;
    font-size: 42px;
    line-height: 59px;
}

.slider .slider_description-italic{
    font-style: italic;
}

.slider p{
    margin: 0;
    margin-bottom: 64px;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}

.button{
    display: block;
    width: 285px;
    margin-bottom: 120px;
    padding: 30px 69px;
    box-sizing: border-box;

    background-color: #D89999;
    border-radius: 40px;

    text-align: center;
    font-family: Montserrat, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.button:hover, 
.button:focus{
    background-color: #AE7C78;
}

.slider img{
    border-radius: 10px;
}

.slider img:first-of-type{
    align-self: flex-end;
}

.advantages{
    margin-bottom: 78px;
}

.advantages ul{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.advantages li{
    position: relative;
    box-sizing: border-box;
    padding-left: 20px;
    flex-basis: 360px; 
}

.advantages li:first-of-type{
    margin-left: 82px;
}
.advantages li:first-of-type::before{
    content: "";
    width: 82px;
    height: 55px;
    position: absolute;
    top: 0;
    left: -82px;
    background-image: url("img/delivery.svg");
    background-repeat: no-repeat;
}

.advantages li:nth-of-type(2){
    margin-left: 100px;
}
.advantages li:nth-of-type(2)::before{
    content: "";
    width: 52px;
    height: 52px;
    position: absolute;
    top: 0;
    left: -52px;
    background-image: url("img/fresh-flowers.svg");
    background-repeat: no-repeat;
}

.advantages li:last-of-type{
    margin-left: 100px;
}
.advantages li:last-of-type::before{
    content: "";
    width: 59px;
    height: 52px;
    position: absolute;
    top: 0;
    left: -59px;
    background-image: url("img/photo.svg");
    background-repeat: no-repeat;
}

.advantages h3{
    margin: 0;
    margin-bottom: 8px;
    font-family: Montserrat, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.advantages p{
    margin: 0;  
    font-family: Montserrat, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.popular{
    width: 794px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.popular h2{
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
    font-family: "Playfair Display", Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
    text-align: center;
}

.popular-product{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.popular-product-descr .button{
    margin-bottom: 80px;
}

.popular-product-descr h3{
    margin: 0;
    margin-bottom: 20px;
    font-family: Montserrat, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.popular-product-descr p{
    margin: 0;
    margin-bottom: 24px;
}

.popular-product-descr .price{
    margin-bottom: 64px;
    font-family: Montserrat, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.popular .pagination{
    text-align: center;
}

.popular .pagination button{
    border: none;
    width: 50px;
    height: 25px;
    background: none;
}

.popular .pagination button:first-of-type{
    background-image: url("img/arrow1.svg");
    background-position: top;
    background-repeat: no-repeat;
    margin-right: 20px;
}

.popular .pagination button:last-of-type{
    background-image: url("img/arrow2.svg");
    background-position: top;
    background-repeat: no-repeat;
}

.popular .pagination button:hover,
.popular .pagination button:active,
.popular .pagination button:focus{
    cursor: pointer;
    transform: scale(0.75);
}

.catalog{
    margin-bottom: 80px;
}

.catalog ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.catalog li a{
    display: block;
    box-sizing: border-box;
    width: 388px;
    height: 442px;
    padding: 183px 0;
    border-radius: 10px;
    text-align: center;
}

.catalog li:first-of-type{
    background-image: url("img/pic1.jpg");
    border-radius: 10px;
}

.catalog li:nth-of-type(2){
    background-image: url("img/pic2.jpg");
    border-radius: 10px;
}

.catalog li:last-of-type{
    background-image: url("img/pic3.jpg");
    border-radius: 10px;
}

.catalog li a{
    background: rgba(174, 124, 120, 0.6);
}

.catalog li a:hover,
.catalog li a:focus{
    background: rgba(174, 124, 120, 0.2); 
}

.catalog h3{
    margin: 0;
    margin-bottom: 10px;

    font-family: "Playfair Display", Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.catalog p{
    margin: 0;

    color: #FFFFFF;
}

.discont{
    margin-bottom: 80px;
    display: flex;
    background: #AE7C78;
}

.discont_description{
    padding: 40px 102px;
}

.discont_description h2{
    margin: 0;
    margin-bottom: 24px;
    font-family: "Playfair Display", Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 59px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.discont_description p{
    margin: 0;
    font-family: Montserrat, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.steps{
    margin-bottom: 80px;
}

.steps h2{
    margin: 0;
    margin-bottom: 36px;

    font-family: "Playfair Display", Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: #AE7C78;
    text-align: center;
}

.steps ul{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.steps li{
    margin-right: 20px;
    margin-top: 65px;
    flex-basis: 285px;
    text-align: center;
    position: relative;
}

.steps li:first-of-type::before{
    content: "";
    width: 67px;
    height: 52px;
    position: absolute;
    top: -62px;
    left: 110px;
    background-image: url("img/step1.svg");
}

.steps li:nth-of-type(2)::before{
    content: "";
    width: 38px;
    height: 52px;
    position: absolute;
    top: -62px;
    left: 125px;
    background-image: url("img/step2.svg");
}

.steps li:nth-of-type(3)::before{
    content: "";
    width: 70px;
    height: 52px;
    position: absolute;
    top: -62px;
    left: 107px;
    background-image: url("img/step3.svg");
}

.steps li:last-of-type::before{
    content: "";
    width: 83px;
    height: 52px;
    position: absolute;
    top: -62px;
    left: 100px;
    background-image: url("img/step4.svg");
}

.steps li:last-of-type{
    margin-right: 0;
}

.steps h3{
    margin: 0;
    margin-bottom: 8px;
    font-family: Montserrat, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}

.steps p{
    margin: 0;
}

.news{
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}

.news_description{
   padding-top: 65px;
}

.news h2{
    margin: 0;
    margin-bottom: 40px;
    font-family: "Playfair Display", Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: #AE7C78;
}

.news p{
    margin: 0;
    margin-bottom: 40px;
    padding-right: 110px;
    font-family: Montserrat, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #AE7C78;
}

.social-buttons{
    display: flex;
    justify-content: flex-start;
}

.social-buttons li{
    position: relative;
}

.social-buttons li:first-of-type a::before{
    content: "";
    width: 21px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("img/instagram_icon.svg");
}

.social-buttons li:nth-of-type(2) a::before{
    content: "";
    width: 12px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 40px;
    background-image: url("img/facebook_icon.svg");
}

.social-buttons li:last-of-type a::before{
    content: "";
    width: 26px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 70px;
    background-image: url("img/twitter_icon.svg");
}

.social-buttons li:first-of-type a:hover::before,
.social-buttons li:first-of-type a:focus::before,
.social-buttons li:nth-of-type(2) a:hover::before,
.social-buttons li:nth-of-type(2) a:focus::before,
.social-buttons li:last-of-type a:hover::before,
.social-buttons li:last-of-type a:focus::before{
    cursor: pointer;
    opacity: 0.7;
    transform: scale(0.9);
}

.news-img{
    display: grid;
    gap: 20px;
    grid-template-columns: 285px 387px;
    grid-template-rows: 220px 220px;
}

.reviews{
    border: 1px solid #AE7C78;
    margin-bottom: 80px;
}

.reviews h2{
    margin: 0;
    margin-bottom: 40px;
    padding-top: 40px;
    font-family: "Playfair Display", Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #AE7C78;
}

.reviews ul{
    display: flex; 
    justify-content: space-between;
    text-align: center;
    margin-bottom: 60px;
    padding: 0 44px;
}

.reviews li{
    flex-basis: 300px;
}

.reviews blockquote, .reviews p{
    margin: 0;
}

.reviews p{
    margin-bottom: 16px;
}

.reviews cite{
    font-family: Montserrat, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;

}

.contact_wrap{
    width: 1440px;
    margin: 0 auto;
    position: relative;
    background-image: url("img/map.jpg");
    background-repeat: no-repeat;
    /* z-index: -1; */
}

.contact_wrap iframe{
    border: none;
    margin: 0;
}

.contact-form{
    position: absolute;
    top: 52px;
    left: 222px;
    background-color: #F7FAFC;
    padding: 40px 35px;
    width: 386px;
    box-sizing: border-box;
}

.contact-form h3{
    margin: 0;
    margin-bottom: 42px;
    font-family: "Playfair Display", Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #AE7C78;
}

.contact-form p{
    margin: 0;
}

.contact-form a:hover,
.contact-form a:focus{
    text-decoration: underline;
}

.contact-form .contact-form-name{
    margin-bottom: 15px;
    font-family: Montserrat, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}

.contact-form .contact-form-descr{
    margin-bottom: 30px;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}

footer{
    width: 100%;
    background: #AE7C78;
}

footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 46px;
}

footer .logo{
    margin-right: 103px;
}

footer .site-nav{
    flex-basis: 795px;
}

footer .site-nav ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* flex-wrap: wrap; */
}

footer .site-nav ul li{
    margin-right: 68px;
}

footer .site-nav ul li:last-of-type{
    margin-right: 0;
}

.site-nav li a{
    margin:0;
    display: block;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.site-nav li a:hover,
.site-nav li a:focus{
    text-decoration: underline;
}

footer .social-buttons{
    width: 100px;
    margin-left: auto;
    align-self: flex-start;
}

footer .social-buttons li:first-of-type a::before{
    top: 10px;
    left: 10px;
    background-image: url("img/instagram_icon-white.svg");
}

footer .social-buttons li:nth-of-type(2) a::before{
    content: "";
    width: 12px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 50px;
    background-image: url("img/facebook_icon-white.svg");
}

footer .social-buttons li:last-of-type a::before{
    content: "";
    width: 26px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 80px;
    background-image: url("img/twitter_icon-white.svg");
}